{% extends 'base.html.twig' %}

{% form_theme form.fecha _self %}
{% form_theme form.coleccion '@ExpandedCollection/Form/semantic-ui_fields.html.twig' %}

{% block datetime_widget %}
{% if widget == 'single_text' %}
{% set type = 'text' %}
<div class="ui field calendar" id="calendar">
	<div class="ui input">
		{{ block('form_widget_simple') }}
	</div>
</div>
{% endif %}

{% endblock %}

{% block body %}
<h1 class="ui header">Form demo</h1>
<div class="ui raised segment">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
<link
	href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
	rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
<script
	src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script type="text/javascript">
	$('.calendar').calendar({
		ampm: false,
		today: true,
		});
</script>
{%  endblock %}

