{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ui header">Test ui.header</h1>
    <div class="ui segment">
    <form class="ui form">
    <div class="ui button">DIV</div>
    <button class="ui button">aaa</button>
    <input  class="ui input"/>
    <textarea  class="ui input" rows="" cols=""></textarea>
    <select  class="ui dropdown"></select>
    form
    </form>
    </div>
{% endblock %}
