{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<h1>Accordion</h1>
<div class="ui demo segment">
	<div class="ui accordion ">
		<div class="title">
			<i class="dropdown icon"></i> What is a dog?
		</div>
		<div class="content">
			<p class="transition hidden">A dog is a type of domesticated
				animal. Known for its loyalty and faithfulness, it can be found as a
				welcome guest in many households across the world.</p>
		</div>
		<div class="title">
			<i class="dropdown icon"></i> What kinds of dogs are there?
		</div>
		<div class="content">
			<p class="transition hidden">There are many breeds of dogs. Each
				breed varies in size and temperament. Owners often select a breed of
				dog that they find to be compatible with their own lifestyle and
				desires from a companion.</p>
		</div>
		<div class="title">
			<i class="dropdown icon"></i> How do you acquire a dog?
		</div>
		<div class="content">
			<p class="transition visible">Three common ways for a prospective
				owner to acquire a dog is from pet shops, private owners, or
				shelters.</p>
			<p class="transition visible">A pet shop may be the most
				convenient way to buy a dog. Buying a dog from a private owner
				allows you to assess the pedigree and upbringing of your dog before
				choosing to take it home. Lastly, finding your dog from a shelter,
				helps give a good home to a dog who may not find one so readily.</p>
		</div>
	</div>
</div>

<h1>Checkbox</h1>
<div class="ui demo segment">
	<div class="ui checkbox">
		<input name="example" type="checkbox"> <label>Make my
			profile visible</label>
	</div>
	<div class="ui divider"></div>
	<div class="ui form">
		<div class="grouped fields">
			<label>How often do you use checkboxes?</label>
			<div class="field">
				<div class="ui radio checkbox">
					<input name="example2" checked="checked" type="radio"> <label>Once
						a week</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input name="example2" type="radio"> <label>2-3
						times a week</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input name="example2" type="radio"> <label>Once a
						day</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input name="example2" type="radio"> <label>Twice a
						day</label>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui form">
		<div class="grouped fields">
			<div class="field">
				<div class="ui slider checkbox">
					<input name="throughput" checked="checked" type="radio"> <label>20
						mbps max</label>
				</div>
			</div>
			<div class="field">
				<div class="ui slider checkbox">
					<input name="throughput" type="radio"> <label>10mbps
						max</label>
				</div>
			</div>
			<div class="field">
				<div class="ui slider checkbox">
					<input name="throughput" type="radio"> <label>5mbps
						max</label>
				</div>
			</div>
			<div class="field">
				<div class="ui slider checkbox checked">
					<input name="throughput" type="radio"> <label>Unmetered</label>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui toggle checkbox">
		<input name="public" type="checkbox"> <label>Subscribe
			to weekly newsletter</label>
	</div>
</div>

<h1>Dropdown</h1>
<div class="ui demo segment">
	<select name="skills" multiple="" class="ui fluid dropdown">
		<option value="">Skills</option>
		<option value="angular">Angular</option>
		<option value="css">CSS</option>
		<option value="design">Graphic Design</option>
		<option value="ember">Ember</option>
		<option value="html">HTML</option>
		<option value="ia">Information Architecture</option>
		<option value="javascript">Javascript</option>
		<option value="mech">Mechanical Engineering</option>
		<option value="meteor">Meteor</option>
		<option value="node">NodeJS</option>
		<option value="plumbing">Plumbing</option>
		<option value="python">Python</option>
		<option value="rails">Rails</option>
		<option value="react">React</option>
		<option value="repair">Kitchen Repair</option>
		<option value="ruby">Ruby</option>
		<option value="ui">UI Design</option>
		<option value="ux">User Experience</option>
	</select>

	<div class="ui divider"></div>
	<div class="ui multiple dropdown">
		<input name="filters" type="hidden"> <i class="filter icon"></i>
		<span class="text">Filter Posts</span>
		<div class="menu">
			<div class="ui icon search input">
				<i class="search icon"></i> <input placeholder="Search tags..."
					type="text">
			</div>
			<div class="divider"></div>
			<div class="header">
				<i class="tags icon"></i> Tag Label
			</div>
			<div class="scrolling menu">
				<div class="item" data-value="important">
					<div class="ui red empty circular label"></div>
					Important
				</div>
				<div class="item" data-value="announcement">
					<div class="ui blue empty circular label"></div>
					Announcement
				</div>
				<div class="item" data-value="cannotfix">
					<div class="ui black empty circular label"></div>
					Cannot Fix
				</div>
				<div class="item" data-value="news">
					<div class="ui purple empty circular label"></div>
					News
				</div>
				<div class="item" data-value="enhancement">
					<div class="ui orange empty circular label"></div>
					Enhancement
				</div>
				<div class="item" data-value="off-topic">
					<div class="ui yellow empty circular label"></div>
					Off Topic
				</div>
				<div class="item" data-value="interesting">
					<div class="ui pink empty circular label"></div>
					Interesting
				</div>
				<div class="item" data-value="discussion">
					<div class="ui green empty circular label"></div>
					Discussion
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>

	<span> Show me posts by
		<div class="ui inline dropdown">
			<div class="text">
				<img class="ui avatar image"
					src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
				Jenny Hess
			</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
					Jenny Hess
				</div>
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
					Elliot Fu
				</div>
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
					Stevie Feliciano
				</div>
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/christian.jpg">
					Christian
				</div>
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/matt.jpg">
					Matt
				</div>
				<div class="item">
					<img class="ui avatar image"
						src="https://semantic-ui.com/images/avatar/small/justen.jpg">
					Justen Kitsune
				</div>
			</div>
		</div>
	</span>
</div>

<h1>Modal</h1>
<div class="ui demo segment">
	<button class="ui button yellow create_btn" type="button" id="test">Create</button>
	<div class="ui modal test">
		<i class="close icon"></i>
		<div class="header">Profile Picture</div>
		<div class="image content">
			<div class="ui medium image">
				<img src="https://semantic-ui.com/images/avatar2/large/rachel.png">
			</div>
			<div class="description">
				<div class="ui header">We've auto-chosen a profile image for
					you.</div>
				<p>
					We've grabbed the following image from the <a
						href="https://www.gravatar.com" target="_blank">gravatar</a> image
					associated with your registered e-mail address.
				</p>
				<p>Is it okay to use this photo?</p>
			</div>
		</div>
		<div class="actions">
			<div class="ui black deny button">Nope</div>
			<div class="ui positive right labeled icon button">
				Yep, that's me <i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</div>

<h1>Tooltips</h1>
<div class="ui demo segment">
	<div class="ui icon button" data-tooltip="Add users to your feed">
		<i class="add icon"></i>
	</div>
	<div class="ui icon button" data-tooltip="Add users to your feed"
		data-inverted="">
		<i class="add icon"></i>
	</div>

	<div class="ui card">
		<div class="image">
			<img
				src="https://semantic-ui.com/images/movies/watchmen-horizontal.jpg">
		</div>
		<div class="content">
			<div class="header">Watchmen</div>
			<div class="description">In a gritty and alternate 1985 the
				glory days of costumed vigilantes have been brought to a close by a
				government crackdown, but after one of the masked veterans is
				brutally murdered an investigation into the killer is initiated.</div>
		</div>
		<div class="ui two bottom attached buttons">
			<div class="ui button">
				<i class="add icon"></i> Queue
			</div>
			<div class="ui primary button">
				<i class="play icon"></i> Watch
			</div>
		</div>
	</div>
	<div class="ui popup">
		<div class="header">User Rating</div>
		<div class="ui star rating" data-rating="3"></div>
	</div>
</div>


<h1>Tabs</h1>
<div class="ui demo segment">

	<div class="ui top attached tabular menu">
		<a class="item active" data-tab="first">First</a> <a class="item"
			data-tab="second">Second</a> <a class="item" data-tab="third">Third</a>
	</div>
	<div class="ui bottom attached tab segment active" data-tab="first">
		<div class="ui card">
			<div class="image">
				<img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
			</div>
			<div class="content">
				<a class="header">Kristy</a>
				<div class="meta">
					<span class="date">Joined in 2013</span>
				</div>
				<div class="description">Kristy is an art director living in
					New York.</div>
			</div>
			<div class="extra content">
				<a> <i class="user icon"></i> 22 Friends
				</a>
			</div>
		</div>
	</div>
	<div class="ui bottom attached tab segment" data-tab="second">
		<div class="ui link cards">
			<div class="card">
				<div class="image">
					<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
				</div>
				<div class="content">
					<div class="header">Matt Giampietro</div>
					<div class="meta">
						<a>Friends</a>
					</div>
					<div class="description">Matthew is an interior designer
						living in New York.</div>
				</div>
				<div class="extra content">
					<span class="right floated"> Joined in 2013 </span> <span> <i
						class="user icon"></i> 75 Friends
					</span>
				</div>
			</div>
			<div class="card">
				<div class="image">
					<img src="https://semantic-ui.com/images/avatar2/large/molly.png">
				</div>
				<div class="content">
					<div class="header">Molly</div>
					<div class="meta">
						<span class="date">Coworker</span>
					</div>
					<div class="description">Molly is a personal assistant living
						in Paris.</div>
				</div>
				<div class="extra content">
					<span class="right floated"> Joined in 2011 </span> <span> <i
						class="user icon"></i> 35 Friends
					</span>
				</div>
			</div>
			<div class="card">
				<div class="image">
					<img src="https://semantic-ui.com/images/avatar2/large/elyse.png">
				</div>
				<div class="content">
					<div class="header">Elyse</div>
					<div class="meta">
						<a>Coworker</a>
					</div>
					<div class="description">Elyse is a copywriter working in New
						York.</div>
				</div>
				<div class="extra content">
					<span class="right floated"> Joined in 2014 </span> <span> <i
						class="user icon"></i> 151 Friends
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="ui bottom attached tab segment" data-tab="third">
		<div class="ui comments">
			<h3 class="ui dividing header">Comments</h3>
			<div class="comment">
				<a class="avatar"> <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
				</a>
				<div class="content">
					<a class="author">Matt</a>
					<div class="metadata">
						<span class="date">Today at 5:42PM</span>
					</div>
					<div class="text">How artistic!</div>
					<div class="actions">
						<a class="reply">Reply</a>
					</div>
				</div>
			</div>
			<div class="comment">
				<a class="avatar"> <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
				</a>
				<div class="content">
					<a class="author">Elliot Fu</a>
					<div class="metadata">
						<span class="date">Yesterday at 12:30AM</span>
					</div>
					<div class="text">
						<p>This has been very useful for my research. Thanks as well!</p>
					</div>
					<div class="actions">
						<a class="reply">Reply</a>
					</div>
				</div>
				<div class="comments">
					<div class="comment">
						<a class="avatar"> <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
						</a>
						<div class="content">
							<a class="author">Jenny Hess</a>
							<div class="metadata">
								<span class="date">Just now</span>
							</div>
							<div class="text">Elliot you are always so right :)</div>
							<div class="actions">
								<a class="reply">Reply</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comment">
				<a class="avatar"> <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
				</a>
				<div class="content">
					<a class="author">Joe Henderson</a>
					<div class="metadata">
						<span class="date">5 days ago</span>
					</div>
					<div class="text">Dude, this is awesome. Thanks so much</div>
					<div class="actions">
						<a class="reply">Reply</a>
					</div>
				</div>
			</div>
			<form class="ui reply form">
				<div class="field">
					<textarea></textarea>
				</div>
				<div class="ui blue labeled submit icon button">
					<i class="icon edit"></i> Add Reply
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(function() {
		$("#test").click(function() {
			$(".test").modal('show');
		});
		$(".test").modal({
			closable : true
		});
	});

	$('.card').popup();
	$('.ui.rating').rating();
	$('.menu .item').tab();
</script>

{% endblock %}